<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Vue Bases</title>
</head>
<body>
  <!-- Vue tiene contorl absoluto de este div -->
  <hr>
  <div id="myApp" >
    <h1>Batman Quotes <small>{{ newQuote }}</small> </h1>
    <input type="text"
     v-model="newQuote"
     v-on:keypress="addQuote" >
   <ul>
    <li v-for="({quote,author},index) in quotes" >
      <span>{{ index + 1 }} {{ quote }}</span>
      <blockquote>{{ author }}</blockquote>
    </li>
   </ul>
</div>
  <script src="./app.js" ></script>
</body>
</html>